.btn-delete,
.btn-like,
.btn-video{
  margin-left: 10px;
}

.todo-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.is-liked{
  color: #f00;
  font-weight: 700;
}

.modal{
  display: block!important;
}
